db/*
incremental_db/*
*.elf
*.map
*.o
MasterSoC_Controller/software/.metadata/*
MasterSoC_Controller/software/MasterSoC_3pAIP_v1_bsp/obj/HAL/src/alt_close.o
MasterSoC_Controller/software/MasterSoC_3pAIP_v1/MasterSoC_3pAIP_v1.elf
MasterSoC_Controller/software/MasterSoC_3pAIP_v1/MasterSoC_3pAIP_v1.map
MasterSoC_Controller/software/MasterSoC_3pAIP_v1/MasterSoC_3pAIP_v1.objdump
output_files/*
MasterSoC_Controller/software/MasterSoC_3pAIP_v1_bsp/obj/HAL/src/*
MasterSoC_Controller/software/MasterSoC_3pAIP_v1_bsp/obj/drivers/src/*.o
MasterSoC_Controller/software/MasterSoC_3pAIP_v1/obj/default/home/tonix/Documents/MasterSoC_DE1SoC/MasterSoC_Controller/software/MasterSoC_3pAIP_v1/*.d
MasterSoC_Controller/software/MasterSoC_3pAIP_v1_bsp/obj/*.o
c5_pin_model_dump.txt
MasterSoC_Controller/software/MasterSoC_3pAIP_v1/Makefile.bak
MasterSoC_Controller/software/MasterSoC_3pAIP_v1/app.objdump
MasterSoC_Controller/software/MasterSoC_3pAIP_v1/.settings/*
MasterSoC_Controller/software/MasterSoC_3pAIP_v1_bsp/libhal_bsp.a
MasterSoC_Controller/software/MasterSoC_3pAIP_v1_bsp/obj
